
OTHER_LDFLAGS=$(inherited) -weak_library /usr/lib/libstdc++.6.0.9.dylib -l "lept" -l "stdc++" -l "tesseract_all" -framework "Foundation" -framework "UIKit"

LIBRARY_SEARCH_PATHS=$(SRCROOT)/../../modules/iphone/ti.tesseract/$(TI_MODULE_VERSION)/platform/lib "~/Library/Application Support/Titanium/modules/iphone/ti.tesseract/$(TI_MODULE_VERSION)/platform/lib"
